In [39]:
from flask import Flask
from flask_restful import Resource, Api, reqparse
from risk_model.tech_model import TechnicalRiskModel
from utils.get_artefacts import get_schema
from utils.parse_call import parse_pricing_call
import os
import pandas as pd

In [42]:
with open(r"C:\Users\jtsw1\Desktop\projects\pricing_api\data\sample_travel_pricing_call.json") as f:
    call = json.load(f)

mapping_table = pd.read_csv(r"C:\Users\jtsw1\Desktop\projects\pricing_api\mapping_tables\travel_mapping.csv")

mapping_dict = dict(zip(mapping_table["global_variable"], mapping_table["data_column"]))

mapped_args = {mapping_dict[key]: value for (key, value) in call.items()}

TechnicalRiskModel().score_tech_model(mapped_args, os.path.join(os.getcwd(), "risk_model/latest_model.sav"))

LinearRegression()

In [43]:
pricing_response

LinearRegression()

In [47]:
pd.DataFrame(mapped_args, index=[0]).loc[:, ]

   brand_code
0  TEST_BRAND